.col-md-6.col-md-offset-3
  %h1 Edit Pin
  / show image you are editing
  = image_tag @pin.image.url(:medium)
  = render 'form'
  / = link_to "Cancel", root_path
  = link_to "Cancel", root_path
  / = link_to "Edit", edit_pin_path