/ #edit_page.col-md-8.col-md-offset-2
#edit_page.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit Pin
      .panel-body
        .current_image
          %strong.center Current Image
          / show image you are editing
          = image_tag @pin.image.url(:medium)
          = render 'form'
          / = link_to "Cancel", root_path
          = render 'back'
          / = link_to "Edit", edit_pin_path