/ %h1 Pins

/ = search_form_for @search do |f|
/   = f.label :name_cont
/   = f.text_field :name_cont "Search"
/   = f.submit "Search"
/ = render "title_search_box"
/ = yield(:search)


/ sunspot search form 
/ in application.html.haml
/ = form_tag pins_path, method: :get do
/   = text_field_tag :search, params[:search]
/   = submit_tag "Search", name: nil

/ adding class
/ render all pins on index page
/ each pin have these classes
/ .box for masonry/jQuery animation pins.js.coffee

/ loop pins
/ = link_to (image_tag pin.image.url(:medium)), pin is an alternate

#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default
      = link_to (image_tag pin.image.url), pin
      %h2= link_to pin.title, pin
      %p.user
        Submitted by
        = pin.user.email

/ .text-center
/   .pagination
/     = will_paginate @pins, renderer: BootstrapPagination::Rails 
/     / = will_paginate @pins // works fine but better with bootstrap above

/ or
/ _footer.html.haml
= render 'footer' 

/ / = link_to "New Pin", new_pin_path

/= user_email(@user)