/ %h1 new.html.haml

/ optionally... / .col-md-6.col-md-offset-3
.col-md-8.col-sm-offset-2 
  .row
    .panel.panel-default
      .panel-heading
        %h1 New Pin
      .panel-body
        = render 'form'
        = render 'back'
        / = link_to "Back", root_path