<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Ruby on Rails Full-Stack Web Development is what we do. <br>
                Everything you need to get your new website up and running in no time! <br>
                Industry standard safety features and creative exactingness <br>
                We make tools that are very and easy to use. <br>
                No strings attached!</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                <a href="#call_to_action" class="btn btn-default btn-xl page-scroll">Get Started!</a>
                <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            </div>
        </div>
    </div>
</section>

