<aside class="bg-dark" id="call_to_action">
    <div class="container text-center">
        <div class="call-to-action">
            <!-- <h2>Let use put your project online now.</h2> -->
            <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
            <a href="mailto:devbrights@gmail.com" class="btn btn-default btn-xl wow tada">Let use put your project online now</a>
            <!-- <a href="mailto:devbrights@gmail.com" class="btn btn-default btn-xl wow tada">devbrights@gmail.com</a> -->
            <!-- <a href="mailto:devbrights@gmail.com" class="btn btn-default btn-xl wow tada">Click Here</a> -->
        </div>
    </div>
</aside>

