<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>un5t0ppab13 & devbrights from LevelUpr, LLC</h1>
            <hr>
            <p>Now accepting freelance work, new projects and opportunites for employment</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>